.logo {
  text-align: center;
}

.logo > a {
  display: block;

  color: var(--light);
  text-decoration: none;
}

.logo__name {
  margin: 0 0 10px;

  font-size: 48px;
  font-weight: 400;
}

.logo__desc {
  margin: 0;

  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: var(--secondary-font);
  text-transform: uppercase;
}
