.photo-card__link {
  display: block;
  perspective: 1000px;

  text-align: center;
  text-decoration: none;
  color: var(--light);
}

.photo-card__picture {
  border-radius: 20px;
  overflow: hidden;
  transform: translateZ(0);
}

.photo-card__title {
  margin: 20px 0 0;

  font-size: 24px;
  font-weight: 400;
}

.photo-card__description {
  margin: 7px 0 0;

  font-family: var(--secondary-font);
  font-weight: 700;
}